# MANIFEST.in -- just for illustration
include MANIFEST.in
include pyproject.toml
include *.md
include *.txt
include *.rst
recursive-include fish_simulator *.pyx *.pxd *.pxi *.py *.pyi *.h *.ini *.npy *.txt *.in *.md
recursive-include fish_simulator/templates *
recursive-include fish_simulator/templates/template_img *
recursive-include fish_simulator/templates/template_img/segs *
recursive-include fish_simulator/templates/template_img2 *
recursive-include fish_simulator/templates/template_img2/segs *
recursive-include examples/ *
recursive-include tests/ *